<div class="menu" data-ng-controller="MenuController as menu">
    <div class="menu-container">
        <menu-tree data-nodes="menu.primaryMenu" data-selected-node-changed="menu.selectedNodeChanged(node)"></menu-tree>
    </div>
    <div class="menu-container">Secondary</div>
</div>